.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.character {
    background: url(./assets/character.png) no-repeat -7px -31px;
    width: 122px;
    height: 180px;
    position: absolute;
    left: 100px;
    top: 100px;
    transition: left 0.2s ease, top 0.2s ease;
}
