.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.character {
    background: url(./assets/character.png) no-repeat -7px -31px;
	width: 121px;
	height: 155px;
    position: absolute;
    left: 100px;
    top: 100px;
}